<table border="1">
  <tr>
    <td>MatriculaAlumno</td><td>NombreAlumno</td><td>ApellidoAlumno</td><td>CursoAlumno</td><td>DivisionAlumno</td><td>TurnoAlumno</td><td>FechaNacAlumno</td><td>EmailAlumno</td>
  </tr>
{{#each alumnos}}
  <tr>  
    <td>{{MatriculaAlumno}} </td> <td>{{NombreAlumno}}</td> <td>{{ApellidoAlumno}}</td><td>{{CursoAlumno}}</td><td>{{DivisionAlumno}}</td><td>{{TurnoAlumno}}</td><td>{{FechaNacAlumno}}</td><td>{{EmailAlumno}}</td>
  </tr>   
{{/each}}
</table>
<a href="/">Retornar</a>