{{#each alumnos}}
<p>NombreAlumno:{{NombreAlumno}}<br>
ApellidoAlumno:{{ApellidoAlumno}}<br>
CursoAlumno:{{CursoAlumno}}<br>
DivisionAlumno:{{DivisionAlumno}}<br>
TurnoAlumno:{{TurnoAlumno}}<br>
FechaNacAlumno:{{FechaNacAlumno}}<br>
EmailAlumno:{{EmailAlumno}}
</p>
{{/each}}

<a href="/">Retornar</a>